* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
  }
  
#header2 {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #472f49;
    padding: 20px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

#profile
{
  font-family: "Arizonia", cursive;
  font-size: 1.5rem;
  max-height:100%;
  color: azure;
  user-select: none;
  text-decoration:none;
}

#chatrooms
{
  font-family: "Arizonia", cursive;
  font-size: 1.5rem;
  max-height:100%;
  color: azure;
  user-select: none;
  text-decoration:none;
}

#notes
{
  font-family: "Arizonia", cursive;
  font-size: 1.5rem;
  max-height:100%;
  color: rgb(255, 255, 255);
  user-select: none;
  text-decoration:none;
}

.logo {
  font-family: "Arizonia", cursive;
  font-size: 3.2rem;
  max-height:100%;
  color: rgb(255, 255, 255);
  user-select: none;
}

.main{
    background:#cea5d1;
    min-height: 86vh;
}

.username {
  font-size: 2.4rem;
  font-weight:700;
  max-height:100%;
  color: azure;
  user-select: none;
  text-decoration:none;
  text-align: center;
  letter-spacing: 3px;
  padding:30px;
}

  ul li {
    text-align:center;
    padding: 12px;
    color:rgb(255, 255, 255);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Amatic SC", cursive;
    font-size: 2rem;
    font-weight:200;
    list-style-type: none;
    min-width: 20vh;
    margin:5px;
  }

  .profile-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border: 20px solid #694e6b;
    padding: 20px;
    text-align: center;
    overflow-y: auto;
    overflow-x: visible;
    margin:40px;
  }
   
  .birthday-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .birthday h2 {
    font-size: 2.2em;
    color: #3a2b3b;
  }

  .email h2{
    font-size: 2.2em;
    color: #3a2b3b;
  }

  .phone h2{
    font-size: 2.2em;
    color: #3a2b3b;
  }

  .hobby h2{
    font-size: 2.2em;
    color: #3a2b3b;
  }

  .position h2{
    font-size: 2.2em;
    color: #3a2b3b;
  }

  .email-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .phone-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .hobby-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .position-container {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  
  #email{
    color:#fff;
    font-size:1.5em;
    font-family:'Times New Roman', Times, serif;
  }

  #birthday{
    color:#fff;
    font-size:1.5em;
    font-family:'Times New Roman', Times, serif;
  }

  #position{
    color:#fff;
    font-size:1.5em;
    font-family:'Times New Roman', Times, serif;
  }
  
  #phone{
    color:#fff;
    font-size:1.5em;
    font-family:'Times New Roman', Times, serif;
  }

  #hobby{
    color:#fff;
    font-size:1.5em;
    font-family:'Times New Roman', Times, serif;
  }

  #logout_btn{
    background: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(46, 28, 70);
    font-weight: 525;
    width: 150px;
    height: 50px;
    position:bottom;
  }
  